#box {
    width: 400px;
    height: 400px;
    background: #009670;
}

#box:hover {
    background: black;
    width: 500px;
    height: 1000px;
    transition: background 1s, width 5s, height 3s;
}

h1 {
    font-size: 60px;
}